<!-- entries/templates/entries/entry_form.html -->

{% extends "entries/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
  <h1>Create a new journal entry</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <p>
    <div class="button--container">
      <button class="btn btn-outline-primary" type="submit" value="Save">Submit</button>
      {% if entry %}
      <a class="btn btn-outline-secondary" href="{% url 'entry-detail' entry.id %}">Cancel</a>
      {% else %}
      <a class="btn btn-outline-secondary" href="{% url 'entry-list' %}">Cancel</a>
      {% endif %}
    </div>
    </p>
</div>

{% endblock %}