<!-- entries/templates/entries/entry_confirm_delete.html -->
{% extends "entries/base.html" %}
{% block content %}
<div class="container py-5">
    <div class="pull-left" style="margin-right:5px">
       <form method="post">
          {% csrf_token %}
          <p>
          <h3>
             Do you want to delete <em>"{{ entry.title }}"</em> posted on {{ entry.date_created|date:'Y-m-d' }}?
          </h3>
          </p>
          <div class="button--container">
            <button class="btn btn-outline-danger" type="submit" value="Confirm">Confirm</button>
            <a class="btn btn-outline-secondary" href="{% url 'entry-detail' entry.id %}">Cancel</a>
          </div>
 
       </form>
    </div>
 
 </div>
{% endblock %}