<!-- entries/templates/entries/entry_confirm_delete.html -->
{% extends "entries/base.html" %}
{% block content %}

<div class="container">
   <div class="col-lg-12">
      <form method="post">
         {% csrf_token %}
      Do you want to delete <em>"{{ entry.title }}"</em> posted on {{ entry.date_created|date:'Y-m-d' }}?
     <div class="d-grid gap-1 d-sm-flex mb-5 mt-2">
      <button class="btn btn-outline-danger" type="submit" value="Confirm">Confirm</button>
      <a class="btn btn-outline-secondary" href="{% url 'entry-detail' entry.id %}">Cancel</a>
     </div>
   </form>
   </div>
 </div>

{% endblock %}